input{
    outline: none;
    
}
input:hover{
    background-color: lightblue;
}

@media only screen and (max-width:699px) {
    .name{
        font-size: 20px;
    }
    .gap{
        justify-content: space-between;
    }
    .frm{
        margin: auto;
    }
   
}